{% extends "base.html" %}
{% block content %}
<form class="center" method="POST">
    <div class="form-group,center" method="POST">
        <input type="username" id="username" class="form-control" aria-describedby="passwordHelpBlock" name="username">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">enter</button>
    </div>
</form>
<style>
    .center {
        width: 25%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid;
    }
</style>
{% endblock %}